* {
	font-family: 'Raleway', sans-serif;
}

body {
	padding-top: 70px;
	padding-bottom: 50px;
}
.page {

}
.page-enter {
  opacity: 0.01;
  transform: translateX(100%);
}

.page-enter.page-enter-active {
	opacity: 1;
	transition-delay : 0.2s;
	transition: all 0.5s ease-in;
	transform: translateX(0);
}

.page-leave {
	opacity: 1;
	transform: translateY(0);
}

.page-leave.page-leave-active {
	opacity: 0.01;
	transition: all 0.2s ease-in;
	transform: translateY(100%);

}

#header {
	padding: 3px 0;
	text-align: center;
}

#logo {
	height: 40px;
	margin: 0 auto;
	padding: 5px;
}

#header i {
	font-size: 20px;
	padding: 10px 0px;
	color: #8B572A;
}

#tabs {
	text-align: center;
	border-top: thin #efefef solid;
	border-bottom: thin #efefef solid;
	font-size: 8px;
}

#tabs .tab {
	cursor: pointer;
}

#tabs .selected {
	text-align: center;
	background-color: #EFEFEF;
}

#contentpanel {
	margin: 25px 0;
}

.item {
	text-align: center;
	border-bottom: thin #efefef solid;
}

.item img {
	margin: 0 auto;
	height: 80px;
}
.item .qty {
	margin: 5px 0;
}

.item .qty i {
	font-size: 3em;
	clear: both; 
	float: center;
	display: block;
	cursor: pointer;
	color: #333;
}

.item .qty .number {
	font-size: 1.5em;
	clear: both; 
	float: center;
	display: block;
}

.item .addcart {
	margin: 30px 0;
	padding: 0 5px;
}

.item .addcart i {
	cursor: pointer;
	font-size: 30px;
}

.item-enter {
  opacity: 0.01;
  transform: translateY(30px);
}

.item-enter.item-enter-active {
  opacity: 1;
  transition: all 0.5s ease-in;
  transform: translateY(0);
}

.item-leave {
	opacity: 1;
	transform: translateY(0);
}

.item-leave.item-leave-active {
	opacity: 0.01;
	transition: all 0.5s ease-in;
}

.overlay {
	background-color: #8B572A;
	opacity: 0.8;
	position: absolute;
	height: 100%;
	width: 100%;
	color: white;
	padding: 30px 0;
}
.overlay a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.overlay a:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.overlay span, h3 {
	display: inline;
}

.overlay .plus-minus {
	cursor: pointer;
	font-size: 50px;
	font-weight: 500;
}

.overlay a {
	display: block;	
}

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.overlay-white {
	background-color: white;
	opacity: 0.7;
	position: absolute;
	height: 100%;
	width: 100%;
}

#bottombar {
	/* background-color: #3BB60F; */
	background-color: #8B572A;
	opacity: 0.95;
	color: white;
	padding: 10px 0;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	border: none;
}

#bottombar i {
	font-size: 1.2em;
	margin: 0 0.5em;
}

#bottombar .text {
	font-size: 1.5em;
	padding: 0.5em;
}

.cart-view {
	text-align: left;
	cursor: pointer;
}

.cart-view:focus {
	background-color: blue;
}

.checkout {
	text-align: center;
	cursor: pointer;
}

.user-view {
	text-align: right;
	cursor: pointer;
}
